.navbar-default {
  border-radius: 0;
  background-image: none;
  background-color: #5C5FB2;
  border: 0;
}
.navbar-brand {
  height: 75px;
  line-height: 45px;
  padding: 10px 0 10px 35px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #D5D9DC;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color: #484C8C;
  background-image: none;
}

.navbar-default .navbar-nav>li>a>img {
  /*float: left;*/
  max-height: 45px;
  margin-right: 15px;
}

.navbar-name {
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}

.dropdown-menu {
  /*background-color: #FFFFFF;*/
  border-radius: 10px;
}

.navbar-collapse {
  border: none;
}

.navbar-toggle {
  border: 2px solid transparent;
  height: 35px;
  margin: 20px 15px 20px 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.search-switch {
  width: 75px;
}

.search-bar {
  width: calc(100% - 300px);
  margin: 0 20px;
}

.mainPage {
  margin-top: 75px;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav {
    margin-right: 30px;
  }
  .navbar-nav>li>a {
    line-height: 45px;
    padding: 15px 30px;
  }
  .navbar-form {
    margin: 20px 0;
    width: calc(100% - 350px)
  }
  .navbar-form .form-control {
    width: 100%;
  }
}