.navbar-default {
  border-radius: 0;
  background-image: none;
  background-color: #5C5FB2;
  border: 0;
}
.navbar-brand {
  height: 75px;
  line-height: 45px;
  padding: 10px 0 10px 35px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #D5D9DC;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color: #484C8C;
  background-image: none;
}

.navbar-collapse {
  border: none;
}

.navbar-toggle {
  border: 2px solid transparent;
  height: 35px;
  margin: 20px 15px 20px 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.mainPage {
  margin-top: 75px;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav {
    margin-right: 30px;
  }
  .navbar-nav>li>a {
    line-height: 45px;
    padding: 15px 30px;
  }
}