body {
  background-color: #213167;
}

.row-container {
  max-width: 1000px;
  margin: 75px auto 50px auto;
  background-color: white;
  padding: 70px;
  border-radius: 10px;
}
.intro-text {
  font-weight: bold;
  font-size: 1.15em;
}
.form-signin-heading {
  text-align: center;
}
.form-suffix {
  height: 30px;
  line-height: 30px;
  float: right;
  margin-bottom: 15px;
  padding-right: 20px;
}
.form-error {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-bottom: 15px;
  color: red;
  display: none;
}
.error {
  display: initial;
}
.btn-login {
  background-color: #B8D4FE;
}