body {
  background-color: #213167;
}

.form-signin {
  max-width: 750px;
  margin: 75px auto 0 auto;
  background-color: white;
  padding: 70px;
  border-radius: 10px;
}
.form-signin-heading {
  text-align: center;
}
.btn {
  background-color: #B8D4FE;
}